{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

<body>
{% leaflet_map "admin" callback="main_map_init" %}
<script type="text/javascript">
    var map;
    var arbres_data;

    function main_map_init(map, options) {

        var dataurl_emp = '{% url "emplacementsjson" %}';
        var dataurl_arbre = '{% url "arbresjson" %}';


        /* Base Maps */

        var arbreS = L.tileLayer($.getJSON(dataurl_arbre, function (data) {
            L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
        }), {attribution: '1'});
        var emplacementsT = L.tileLayer($.getJSON(dataurl_emp, function (data) {
            L.geoJson(data, {onEachFeature: onEachFeature});
        }), {attribution: '2'});

        var overlayMaps = {
            "Emplacement": emplacementsT,
            "Arbres": arbreS
        };

        L.control.layers(null, overlayMaps).addTo(map);
    }

    function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.gid) {

        }
    };


</script>

</body>

